:root {
  /* color palette */
  --dark-color: #1a2139;
  --neutral-dark-color: #333e5b;
  --neutral-color: #798190;
  --neutral-light-color: #9d9683;
  --light-color: #821122;
}

html, body {
  /*background-color: #798190;*/
  background-size: cover;
  margin: 0 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.nav-bar {
  width: 100%;
  height: 10%;
  position: relative;
  /*background-color: red;*/
}


a.nav-bar {
  float: left;
  text-align: center;
  /*padding: 10px;*/

}

img#corner-logo {
  max-height: 100%;
}

#personal-home {
  margin: 0 0 0 1%;
  padding: 0.75%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 100%;
  border: none;
}

#jasmine h1{
text-align: center;
border-style: solid;
}

h2{
  font-size:19px;
  text-align: center;
  margin-top: 2em;

}

#contact{
  font-size: small;
}

/*.fn{
  border-style: solid;
}*/

#center {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#center img{
  border-style: solid;
}



#jasmine p{
  text-align: center;
}

#jasmine a {
  text-align: center;
 
}

.bold {
  font-weight: bold;
}

#jasmine #contact{
  display: inline-block;
  text-align: center;
}

#jasmine .contact .email{
  display: inline-block;
  text-align: center;
}


#jasmine #name{
  font-weight: bold;
  font-size: 18px;
}

#jasmine .resume p {
  font-weight: bold;
}

#jasmine .work{
  font-weight: bold;
  font-style: italic;
}

#jasmine .assistant{
  font-weight: bold;
  font-style: italic;
}

#jasmine .title {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}


#jasmine .titles{
  font-weight: bold;
  font-style: italic;
  text-align: center;

}

#jasmine .manager{
  font-weight: bold;
  font-style: italic;
}

#jasmine .club{
  font-weight: bold;
  font-style: italic;
}
